<!-- <h4>1. Embedded Signing Ceremony</h4>
<p>
  This example sends an envelope, and then uses an embedded signing ceremony for
  the first signer.
</p>
<p>
  Embedded signing provides a smoother user experience for the signer: the
  DocuSign signing ceremony is initiated from your website.
</p>

<p>
  API methods used:
  <a
    target="_blank"
    href="https://developers.docusign.com/esign-rest-api/reference/Envelopes/Envelopes/create"
    >Envelopes::create</a
  >
  and
  <a
    target="_blank"
    href="https://developers.docusign.com/esign-rest-api/reference/Envelopes/EnvelopeViews/createRecipient"
    >EnvelopeViews::createRecipient</a
  >.
</p> -->
<form
  class="eg"
  id="eg"
  action=""
  method="post"
  data-busy="form"
  style="display: none"
>
  <div class="form-group">
    <label for="signerEmail">Signer Email</label>
    <input
      type="email"
      class="form-control"
      id="signerEmail"
      name="signerEmail"
      aria-describedby="emailHelp"
      placeholder="pat@example.com"
      required
      value="<%= locals.dsConfig.signerEmail %>"
    />
    <small id="emailHelp" class="form-text text-muted"
      >We'll never share your email with anyone else.</small
    >
  </div>
  <div class="form-group">
    <label for="signerName">Signer Name</label>
    <input
      type="text"
      class="form-control"
      id="signerName"
      placeholder="Pat Johnson"
      name="signerName"
      value="<%= locals.dsConfig.signerName %>"
      required
    />
  </div>
  <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
  <button type="submit" class="btn btn-docu">Submit</button>
</form>
<script>
  document.getElementById('eg').submit();
</script>
