<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="#" />
    <title>Guardian</title>
    <!-- CSS STYLES -->
    <link
      href="https://fonts.googleapis.com/css?family=Lato&display=swap"
      rel="stylesheet"
    />
    <link
      type="text/css"
      href="../../../assets/vendors/bs/css/bootstrap.css"
      rel="stylesheet"
    />
    <link
      type="text/css"
      href="../../../assets/vendors/faicon/css/font-awesome.css"
      rel="stylesheet"
    />
    <link
      type="text/css"
      href="../../../assets/vendors/multisteps/jquery.steps.css"
      rel="stylesheet"
    />
    <link
      type="text/css"
      href="../../../assets/vendors/aos/aos.css"
      rel="stylesheet"
    />
    <link
      type="text/css"
      href="../../../assets/vendors/dtpicker/jquery.datetimepicker.css"
      rel="stylesheet"
    />
    <link
      type="text/css"
      href="../../../assets/css/wpb_style.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://design9tech.com/Guardian/css/new_account.css"
    />
    <link
      rel="shortcut icon"
      href="assets/img/newfavicon.png"
      type="image/x-icon"
    />
  </head>
  <style>
    .logoholder {
      text-align: center;
    }
    .logoholder img {
      width: 50%;
      margin-right: 5%;
    }
  </style>
  <body style="background-color: #000">
    <section class="wpb_loader"><div class="loader"></div></section>

    <div class="container-fluid" style="background-color: #000">
      <div class="container">
        <br /><br /><br />
        <!-- Rigister form -->
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
              <div class="reg_form">
                <div class="col-md-12 text-right">
                <a href="/logout"> <button class="btn btn-info">Logout</button></a>
              </div>
                <div class="col-md-12 logoholder">
                  <img src="assets/img/logo1.png" alt="Guardian" />
                </div>
                
                <br />
                <h3 class="text-center"><b>Your Trading Link</b></h3>
                
                <hr />
                <div class="col-md-12 logoholder">
                  <a href="https://ic.velocityclearingllc.com/clientexp/login.aspx"><img src="assets/img/icLogo_Login.png" alt="Guardian" style="margin-right: 0%;" /></a>
                </div>
          </div>
          <div class="col-md-2"></div>
        </div>
        <!-- End -->
        <br /><br /><br />
      </div>
    </div>
  </body>
  <!-- JS SCRIPTS -->
  <script
    type="text/javascript"
    src="https://code.jquery.com/jquery-1.12.4.js"
  ></script>
  <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.js"
  ></script>
  <script
    type="text/javascript"
    src="../../../assets/vendors/jquery/popper.min.js"
  ></script>
  <script
    type="text/javascript"
    src="../../../assets/vendors/bs/js/bootstrap.js"
  ></script>
  <script
    type="text/javascript"
    src="../../../assets/vendors/multisteps/jquery.steps.js"
  ></script>
  <script
    type="text/javascript"
    src="../../../assets/vendors/aos/aos.js"
  ></script>
  <script
    type="text/javascript"
    src="../../../assets/vendors/dtpicker/jquery.datetimepicker.full.js"
  ></script>
  <script
    type="text/javascript"
    src="../../../assets/js/wpb_scripts.js"
  ></script>
  <script type="text/javascript" src="../../../assets/js/wpb_code.js"></script>
</html>
<!-- CUSTOM_CODE_START -->
<script type="text/javascript">
  window.__lc = window.__lc || {};
  window.__lc.license = 11913591;
  (function() {
    var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
    lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
  })();
</script>
<noscript>
<a href="https://www.livechatinc.com/chat-with/11913591/" rel="nofollow">Chat with us</a>,
powered by <a href="https://www.livechatinc.com/?welcome" rel="noopener nofollow" target="_blank">LiveChat</a>
</noscript>