<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="#" />
    <title>Guardian</title>
    <!-- CSS STYLES -->
    <link
      href="https://fonts.googleapis.com/css?family=Lato&display=swap"
      rel="stylesheet"
    />
    <link
      type="text/css"
      href="assets/vendors/bs/css/bootstrap.css"
      rel="stylesheet"
    />
    <link
      type="text/css"
      href="assets/vendors/faicon/css/font-awesome.css"
      rel="stylesheet"
    />
    <link
      type="text/css"
      href="assets/vendors/multisteps/jquery.steps.css"
      rel="stylesheet"
    />
    <link type="text/css" href="assets/vendors/aos/aos.css" rel="stylesheet" />
    <link
      type="text/css"
      href="assets/vendors/dtpicker/jquery.datetimepicker.css"
      rel="stylesheet"
    />
    <link type="text/css" href="assets/css/wpb_style.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://design9tech.com/Guardian/css/new_account.css"
    />
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/jquery.validate.min.js"
    ></script>
    <link
      rel="shortcut icon"
      href="assets/img/newfavicon.png"
      type="image/x-icon"
    />
  </head>
  <body style="background-color: #000">
    <section class="wpb_loader"><div class="loader"></div></section>
    <style type="text/css">
      label {
        font-size: 16px;
      }
      .pwdbox-holder {
        position: relative;
      }
      .pwdbox-holder span {
        position: absolute;
        right: 2%;
        top: 67%;
      }
    </style>
    <div class="container-fluid" style="background-color: #000">
      <div class="container">
        <br /><br />
        <br />
        <!-- Rigister form -->
        <div class="row">
          <div class="col-md-2"></div>

          <div class="col-md-8">
            <%- include('messages'); -%>
            <form action="/register" method="post">
              <div class="reg_form">
                <h3 class="text-center"><b>Begin an Online Application</b></h3>
                <p class="text-center">
                  Already have an account? <a href="/login">Sign in...</a>
                </p>

                <div class="form-group">
                  <label for="email">Your Email</label>
                  <input
                    name="email"
                    type="email"
                    class="form-control"
                    placeholder="Email"
                    id="email"
                    required
                    autofocus
                  />
                </div>

                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="registration_type">Registration Type</label>
                      <select
                        name="registrationType"
                        id="registration_type"
                        class="selectpicker form-control"
                        required
                      >
                        <option value="" style="display: none">
                          Select one
                        </option>
                        <option value="Individual Account">
                          Individual Account
                        </option>
                        <option value="JTWROS">JTWROS</option>
                        <option value="Tenants in Common">
                          Tenants in Common
                        </option>

                        <option value="Corporate">Corporate</option>
                        <option value="Trust">Trust</option>
                        <option value="Limited Liability Company">
                          Limited Liability Company
                        </option>
                        <option value="Limited Partnership">
                          Limited Partnership
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="product_trade"
                        >Product you want to trade</label
                      >
                      <select
                        name="productTrade"
                        id="product_trade"
                        class="selectpicker form-control"
                        required
                      >
                        <option value="Stock">Stocks</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="hear_about">How did you hear about us?</label>
                      <select
                        name="hearAbout"
                        id="hear_about"
                        class="selectpicker form-control"
                        required
                      >
                        <option value="" style="display: none">
                          Select one
                        </option>
                        <option value="Google">Google</option>
                        <option value="Bloomberg">Bloomberg</option>
                        <option value="Other">Other</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="pwdbox-holder">
                    <label for="password">Create Password </label>
                    <span
                      toggle="#password"
                      class="fa fa-fw fa-eye field-icon toggle-password"
                    ></span>
                    <input
                      name="password"
                      type="password"
                      id="password"
                      class="form-control"
                      placeholder="Password"
                      title="Must contain at least one  number , one uppercase , lowercase letter, at least 8 characters, maximum 25 characters and one special characters"
                      pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,25}$"
                      required="required"
                    />
                  </div>
                </div>

                <div class="form-group">
                  <div class="pwdbox-holder">
                    <label for="passwordConfirmation">Confirm Password</label>
                    <span
                      toggle="#passwordConfirmation"
                      class="fa fa-fw fa-eye field-icon toggle-password"
                    ></span>
                    <input
                      type="password"
                      name="passwordConfirmation"
                      id="passwordConfirmation"
                      class="form-control"
                      placeholder="Password"
                      title="Must contain at least one  number , one uppercase , lowercase letter, at least 8 characters, maximum 25 characters and one special characters"
                      pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,25}$"
                      required=""
                    />
                  </div>
                </div>
                <input id="lat" name="lat" type="hidden" class="form-control" />
                <input
                  id="long"
                  name="long"
                  type="hidden"
                  class="form-control"
                />
                <input
                  type="submit"
                  value="Sign up"
                  class="btn btn-primary btn-block"
                />
              </div>
            </form>
          </div>
          <div class="col-md-2"></div>
        </div>
        <!-- End -->
        <br /><br />
        <br />
      </div>
    </div>
  </body>
  <!-- JS SCRIPTS -->
  <script
    type="text/javascript"
    src="https://code.jquery.com/jquery-1.12.4.js"
  ></script>

  <script
    type="text/javascript"
    src="assets/vendors/jquery/popper.min.js"
  ></script>
  <script
    type="text/javascript"
    src="assets/vendors/bs/js/bootstrap.js"
  ></script>
  <script
    type="text/javascript"
    src="assets/vendors/multisteps/jquery.steps.js"
  ></script>
  <script type="text/javascript" src="assets/vendors/aos/aos.js"></script>
  <script
    type="text/javascript"
    src="assets/vendors/dtpicker/jquery.datetimepicker.full.js"
  ></script>
  <script type="text/javascript" src="assets/js/wpb_scripts.js"></script>
  <script type="text/javascript" src="assets/js/wpb_code.js"></script>
  <script type="text/javascript" src="assets/js/validate.js"></script>
  <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.js"
  ></script>

  <script>
    $(function () {
      // $.get('https://www.cloudflare.com/cdn-cgi/trace', function(data) {
      //         console.log(data)
      //     })

      $('.toggle-password').click(function () {
        $(this).toggleClass('fa-eye fa-eye-slash');
        var input = $($(this).attr('toggle'));
        if (input.attr('type') == 'password') {
          input.attr('type', 'text');
        } else {
          input.attr('type', 'password');
        }
      });

      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
      } else {
        x.innerHTML = 'Geolocation is not supported by this browser.';
      }

      function showPosition(position) {
        $('#lat').val(position.coords.latitude);
        $('#long').val(position.coords.longitude);
      }

      $('#email').on('keyup', function () {
        const email = $(this).val();
        const pattern = /^\b[A-Z0-9._%-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i;

        if (pattern.test(email)) {
          $.ajax({
            url: '/email-check',
            method: 'post',
            dataType: 'json',
            data: { email: email },
            success: function (response) {
              if (response.success) {
                $('#email').prop('title', 'That Email is Not Registered');
              } else {
                $('#email').prop('title').remove();
              }
            },
          });
        }
      });
    });
  </script>
</html>
<!-- CUSTOM_CODE_START -->
<script type="text/javascript">
  window.__lc = window.__lc || {};
  window.__lc.license = 11913591;
  (function () {
    var lc = document.createElement('script');
    lc.type = 'text/javascript';
    lc.async = true;
    lc.src =
      ('https:' == document.location.protocol ? 'https://' : 'http://') +
      'cdn.livechatinc.com/tracking.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(lc, s);
  })();
</script>
<noscript>
  <a href="https://www.livechatinc.com/chat-with/11913591/" rel="nofollow"
    >Chat with us</a
  >, powered by
  <a
    href="https://www.livechatinc.com/?welcome"
    rel="noopener nofollow"
    target="_blank"
    >LiveChat</a
  >
</noscript>
