<%- include('admin_include/_head'); -%>

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
	<div class="wrapper">
		<!-- Navbar -->
		<%- include('admin_include/_navbar'); -%>
		<!-- /.navbar -->

		<!-- Main Sidebar Container -->
		<!-- Sidebar -->
		<%- include('admin_include/_sidebar'); -%>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0 text-dark"><%= user.firstName %> <%= user.lastName %></h1>
						</div><!-- /.col -->
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<% if(back == 'pending') { %>
								<li class="breadcrumb-item"><a href="/admin/pending-application">
										Pending
									</a></li>
								<% } else if(back == 'accepted') {%>
								<li class="breadcrumb-item"><a href="/admin/accepted-application">
										Accepted
									</a></li>
								<% } else if(back == 'rejected') {%>
								<li class="breadcrumb-item"><a href="/admin/rejected-application">
										Rejected
									</a></li>
								<% } else {%>
								<li class="breadcrumb-item"><a href="/admin/dashboard">
										Dashboard
									</a></li>
								<% } %>
								<li class="breadcrumb-item active">View User</li>
							</ol>
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.container-fluid -->
			</div>
			<!-- /.content-header -->

			<!-- Main content -->
			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<div class="bs-example accordnew">
								<div class="accordion" id="accordionExample">


									<div class="card">
										<div class="card-header" id="headingOne">
											<h2 class="mb-0">
												<button type="button" class="btn btn-link collapsed"
													data-toggle="collapse" data-target="#personal-details"
													aria-expanded="false"> Personal Details <i
														class="fa fa-plus"></i></button>
											</h2>
										</div>
										<div id="personal-details" class="collapse" aria-labelledby="headingOne"
											data-parent="#accordionExample">
											<div class="card-body">
												<table class="table acc-tblcutom">
													<tbody>
														<tr>
															<td><strong>First Name</strong></td>
															<td><%= user.firstName %></td>

														</tr>
														<tr>
															<td><strong>Last Name</strong></td>
															<td><%= user.lastName %></td>
														</tr>
														<tr>
															<td><strong>Address</strong></td>
															<td><%= user.address %></td>
														</tr>
														<tr>
															<td><strong>Apt/Suite</strong></td>
															<td><%= user.aptSuite %></td>
														</tr>
														<tr>
															<td><strong>Country</strong></td>
															<td><%= user.country %></td>
														</tr>
														<tr>
															<td><strong>States/Province</strong></td>
															<td><%= user.province %></td>
														</tr>
														<tr>
															<td><strong>City</strong></td>
															<td><%= user.city %></td>
														</tr>
														<tr>
															<td><strong>Zip Code</strong></td>
															<td><%= user.zipCode %></td>
														</tr>
														<% if(user.mailAddother) {%>
														<tr class="adition-title">
															<td class="p-left-15"><strong>Additional Address</strong>
															</td>
															<td></td>
														</tr>

														<tr>
															<td class="p-left-15"><strong>Address</strong></td>
															<td><%= user.mailingAddress %></td>
														</tr>
														<tr>
															<td class="p-left-15"><strong>Apt/Suite</strong></td>
															<td><%= user.mailingAptsuite %></td>
														</tr>
														<tr>
															<td class="p-left-15"><strong>Country</strong></td>
															<td><%= user.mailingCountry %></td>
														</tr>
														<tr>
															<td class="p-left-15"><strong>States/Province</strong></td>
															<td><%= user.mailingProvince %></td>
														</tr>
														<tr>
															<td class="p-left-15"><strong>City</strong></td>
															<td><%= user.mailingCity %></td>
														</tr>
														<tr>
															<td class="p-left-15"><strong>Zip Code</strong></td>
															<td><%= user.mailingZipcode %></td>
														</tr>
														<% } %>

														<tr>
															<td><strong>Are You</strong></td>
															<td><%= user.martialStatus %></td>
														</tr>

														<tr>
															<td><strong>Telephone</strong></td>
															<td><%= user.teleNum %></td>
														</tr>

														<tr>
															<td><strong>No. of Dependents</strong></td>
															<td><%= user.numberOfDependent %></td>
														</tr>
														<% if(user.trustedPerson) {%>
														<tr class="adition-title">
															<td class="p-left-15"><strong> Would you like add a Trusted
																	Contact Person</strong></td>
															<td></td>
														</tr>
														<tr>
															<td class="p-left-15"><strong>Name</strong></td>
															<td><%= user.trustedPersonName %></td>
														</tr>
														<tr>
															<td class="p-left-15"><strong>Phone Number</strong></td>
															<td><%= user.trustedPersonPhone %></td>
														</tr>
														<tr>
															<td class="p-left-15"><strong>Email Address</strong></td>
															<td><%= user.trustedPersonEmail %></td>
														</tr>
														<tr>
															<td class="p-left-15"><strong>Street Address</strong></td>
															<td><%= user.trustedPersonStreet %></td>
														</tr>
														<tr>
															<td class="p-left-15"><strong>Country</strong></td>
															<td><%= user.trustedPersonCountry %></td>
														</tr>
														<tr>
															<td class="p-left-15"><strong>State</strong></td>
															<td><%= user.trustedPersonState %></td>
														</tr>
														<tr>
															<td class="p-left-15"><strong>City</strong></td>
															<td><%= user.trustedPersonCity %></td>
														</tr>
														<tr>
															<td class="p-left-15"><strong>Zip</strong></td>
															<td><%= user.trustedPersonZip %></td>
														</tr>
														<tr>
															<td class="p-left-15"><strong>Realationship To Account
																	Holder</strong></td>
															<td><%= user.trustedPersonRelation %></td>
														</tr>
														<tr>
															<td class="p-left-15"><strong>Expiration
																	(MM\DD\YYY)</strong></td>
															<td><%= moment(user.trusteddob).format( 'MMM-DD-YYYY') %>
															</td>
														</tr>
														<% } %>
													</tbody>
												</table>
											</div>
										</div>
									</div>
									<div class="card">
										<div class="card-header" id="headingTwo">
											<h2 class="mb-0">
												<button type="button" class="btn btn-link collapsed"
													data-toggle="collapse" data-target="#professional-details">
													Professional Details <i class="fa fa-plus"></i></button>
											</h2>
										</div>
										<div id="professional-details" class="collapse fade"
											aria-labelledby="headingTwo" data-parent="#accordionExample">
											<div class="card-body">

												<!-- Nav tabs -->
												<ul class="nav nav-tabs">
													<li class="nav-item">
														<a class="nav-link <%=(user.employee === 'employed') ? 'active' : ''%>"
															data-toggle="tab" href="#employed">Employed</a>
													</li>
													<li class="nav-item">
														<a class="nav-link <%=(user.employee === 'self_employee') ? 'active' : ''%>"
															data-toggle="tab" href="#s-employed">Self Employed</a>
													</li>
													<!-- <li class="nav-item">
                            <a class="nav-link <%=(user.employee === 'not_employee') ? 'active' : ''%>" data-toggle="tab" href="#not-employed">Not Employed</a>
                          </li> -->
													<li class="nav-item">
														<a class="nav-link <%=(user.employee === 'retired') ? 'active' : ''%>"
															data-toggle="tab" href="#retired">Retired</a>
													</li>
													<!-- <li class="nav-item">
                            <a class="nav-link <%=(user.employee === 'other_bussi') ? 'active' : ''%>" data-toggle="tab" href="#other">other</a>
                          </li> -->
												</ul>

												<!-- Tab panes -->
												<div class="tab-content">
													<div class="tab-pane <%=(user.employee === 'employed') ? 'active' : 'fade'%>"
														id="employed">
														<table class="table acc-tblcutom">
															<tbody>
																<% if(user.employee == 'employed') {%>
																<tr>
																	<td><strong>Employer Name</strong></td>
																	<td><%= user.employerName %></td>
																</tr>
																<tr>
																	<td><strong>Occupation</strong></td>
																	<td><%= user.employerOccupation %></td>
																</tr>
																<tr>
																	<td><strong>Address Of Employer</strong></td>
																	<td><%= user.employerAddress %></td>
																</tr>
																<tr>
																	<td><strong>Years With Employer</strong></td>
																	<td><%= user.employerYearWithEmployer %></td>
																</tr>
																<tr>
																	<td><strong>Country</strong></td>
																	<td><%= user.employerCountry %></td>
																</tr>
																<tr>
																	<td><strong>State/Province</strong></td>
																	<td><%= user.employerState %></td>
																</tr>
																<tr>
																	<td><strong>City</strong></td>
																	<td><%= user.employerCity %></td>
																</tr>
																<tr>
																	<td><strong>Apt/Suite No</strong></td>
																	<td><%= user.employerAptsuite %></td>
																</tr>
																<tr>
																	<td><strong>Employer's Phone Number</strong></td>
																	<td><%= user.employerPhoneNumber %></td>
																</tr>
																<tr>
																	<td><strong>Fax</strong></td>
																	<td><%= user.employerFax %></td>
																</tr>
																<% } %>
															</tbody>
														</table>



													</div>
													<div class="tab-pane <%=(user.employee === 'self_employee') ? 'active' : 'fade'%>"
														id="s-employed">
														<table class="table acc-tblcutom">
															<tbody>
																<% if(user.employee == 'self_employee') {%>
																<tr>
																	<td><strong>Bussiness Name</strong></td>
																	<td><%= user.employerName %></td>
																</tr>
																<tr>
																	<td><strong>Company Type</strong></td>
																	<td><%= user.employerOccupation %></td>
																</tr>
																<tr>
																	<td><strong>Business Address</strong></td>
																	<td><%= user.employerAddress %></td>
																</tr>
																<tr>
																	<td><strong>Years of business</strong></td>
																	<td><%= user.employerYearWithEmployer %></td>
																</tr>
																<tr>
																	<td><strong>Country</strong></td>
																	<td><%= user.employerCountry %></td>
																</tr>
																<tr>
																	<td><strong>State/Province</strong></td>
																	<td><%= user.employerState %></td>
																</tr>

																<tr>
																	<td><strong>City</strong></td>
																	<td><%= user.employerCity %></td>
																</tr>
																<tr>
																	<td><strong>Apt/Suite No</strong></td>
																	<td><%= user.employerAptsuite %></td>
																</tr>
																<tr>
																	<td><strong>Business Phone Number</strong></td>
																	<td><%= user.employerPhoneNumber %></td>
																</tr>
																<tr>
																	<td><strong>Fax</strong></td>
																	<td><%= user.employerFax %></td>
																</tr>
																<% } %>
															</tbody>
														</table>
													</div>
													<div class="tab-pane  <%=(user.employee === 'not_employee') ? 'active' : 'fade'%>"
														id="not-employed"> No Information </div>
													<div class="tab-pane <%=(user.employee === 'retired') ? 'active' : 'fade'%>"
														id="retired"> No
														Information</div>
													<div class="tab-pane <%=(user.employee === 'other_bussi') ? 'active' : 'fade'%>"
														id="other">


														<table class="table acc-tblcutom">
															<tbody>
																<% if(user.employee == 'other_bussi') {%>
																<tr>
																	<td><strong>Bussiness Name</strong></td>
																	<td><%= user.employerName %></td>
																</tr>
																<tr>
																	<td><strong>Company Type</strong></td>
																	<td><%= user.employerOccupation %></td>
																</tr>
																<tr>
																	<td><strong>Business Address</strong></td>
																	<td><%= user.employerAddress %></td>
																</tr>
																<tr>
																	<td><strong>Years of business</strong></td>
																	<td><%= user.employerYearWithEmployer %></td>
																</tr>
																<tr>
																	<td><strong>Country</strong></td>
																	<td><%= user.employerCountry %></td>
																</tr>
																<tr>
																	<td><strong>State/Province</strong></td>
																	<td><%= user.employerState %></td>
																</tr>

																<tr>
																	<td><strong>City</strong></td>
																	<td><%= user.employerCity %></td>
																</tr>
																<tr>
																	<td><strong>Apt/Suite No</strong></td>
																	<td><%= user.employerAptsuite %></td>
																</tr>
																<tr>
																	<td><strong>Business Phone Number</strong></td>
																	<td><%= user.employerPhoneNumber %></td>
																</tr>
																<tr>
																	<td><strong>Fax</strong></td>
																	<td><%= user.employerFax %></td>
																</tr>
																<% } %>
															</tbody>
														</table>


													</div>
												</div>



											</div>
										</div>
									</div>
									<div class="card">
										<div class="card-header" id="headingThree">
											<h2 class="mb-0">
												<button type="button" class="btn btn-link collapsed"
													data-toggle="collapse" data-target="#id-information"> ID Information
													<i class="fa fa-plus"></i></button>
											</h2>
										</div>
										<div id="id-information" class="collapse" aria-labelledby="headingThree"
											data-parent="#accordionExample">
											<div class="card-body">
												<table class="table acc-tblcutom">
													<tbody>
														<tr>
															<td><strong>Social Security Or Taxpayer ID No</strong></td>
															<td><%= user.taxpayerIDNo %></td>
														</tr>

														<tr>
															<td><strong>Date of Birth </strong></td>
															<td><%= moment(user.dateOfBirth).format( 'MMM-DD-YYYY') %>
															</td>
														</tr>

														<tr>
															<td><strong>Country of Tax Residence </strong></td>
															<td><%= user.taxResidance %></td>
														</tr>
														<tr>
															<td><strong>State</strong></td>
															<td><%= user.taxResidanceState %></td>
														</tr>
														<tr class="adition-title">
															<td class="p-left-15"><strong> Valid Government Issued Photo
																	ID </strong></td>
															<td></td>
														</tr>
														<tr>
															<td><strong>ID Type</strong></td>
															<td><%= user.idType %></td>
														</tr>
														<% if(user.idType == 'Local Id') {%>
														<tr>
															<td><strong>Name of ID</strong></td>
															<td><%= user.nameOfId %></td>
														</tr>
														<%}%>

                          <tr>
                            <td><strong>ID Number</strong></td>
                            <td><%= user.idNumber %></td>
														</tr>
														<tr>
															<td><strong>Place/Country of issuance</strong></td>
															<td><%= user.placeCountry %></td>
														</tr>
														<tr>
															<td><strong>State </strong></td>
															<td><%= user.placeState %></td>
														</tr>
														<tr>
															<td><strong>Issue Date </strong></td>
															<td><%=  moment(user.issueDate).format( 'MMM-DD-YYYY') %>
															</td>
														</tr>
														<tr>
															<td><strong>Expiration </strong></td>
															<td><%=  moment(user.expDate).format( 'MMM-DD-YYYY') %></td>
														</tr>

													</tbody>
												</table>
											</div>
										</div>
									</div>
									<div class="card">
										<div class="card-header" id="headingThree">
											<h2 class="mb-0">
												<button type="button" class="btn btn-link collapsed"
													data-toggle="collapse" data-target="#income-details"> Income Details
													<i class="fa fa-plus"></i></button>
											</h2>
										</div>
										<div id="income-details" class="collapse" aria-labelledby="headingThree"
											data-parent="#accordionExample">
											<div class="card-body">
												<table class="table acc-tblcutom">
													<tbody>

														<tr>
															<td><strong>Annual Income </strong></td>
															<td><%= user.annualIncome %></td>
														</tr>
														<tr>
															<td><strong>Net Worth </strong></td>
															<td><%= user.netWorth %></td>
														</tr>
														<tr>
															<td><strong>Liquid Net Worth </strong></td>
															<td><%= user.liquidNetWorth %></td>
														</tr>
														<tr>
															<td><strong>TAX RATE </strong></td>
															<td><%= user.taxRate %></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
									<div class="card">
										<div class="card-header" id="headingThree">
											<h2 class="mb-0">
												<button type="button" class="btn btn-link collapsed"
													data-toggle="collapse" data-target="#funding-details"> Funding
													Details <i class="fa fa-plus"></i></button>
											</h2>
										</div>
										<div id="funding-details" class="collapse" aria-labelledby="headingThree"
											data-parent="#accordionExample">
											<div class="card-body">
												<table class="table acc-tblcutom">
													<tbody>

														<!-- <tr>
                            <td><strong>I am funding this account with </strong></td>
                            <td>225255789</td>
                          </tr> -->
														<tr class="adition-title">
															<td><strong>Funding Details</strong></td>
															<td><%= (user.incomeAccount ? 'Income Account |' : '') %>
																<%=(user.retireSaving ? 'Retire Saving |' : '') %>
																<%= (user.gift ? 'Gift |' : '') %>
																<%= (user.businessProp ? 'Sale of business or property |' : '') %>
																<%= (user.inheritence ? 'Inheritance |' : '') %>
																<%= (user.secuBnefit ? 'Social security benefit |' : '') %>
																<%= (user.otherCheckbox ?  user.otherInput : '') %>
															</td>
														</tr>
														<tr>
															<td><strong>Name of the bank </strong></td>
															<td><%= user.bankFunding %></td>
														</tr>
														<tr>
															<td><strong>ABA Swift </strong></td>
															<td><%= user.abaSwift %></td>
														</tr>
														<tr>
															<td><strong>Account Number</strong></td>
															<td><%= user.accountNumber %></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
									<div class="card">
										<div class="card-header" id="headingThree">
											<h2 class="mb-0">
												<button type="button" class="btn btn-link collapsed"
													data-toggle="collapse" data-target="#risk-acceptance"> Risk
													Acceptance <i class="fa fa-plus"></i></button>
											</h2>
										</div>
										<div id="risk-acceptance" class="collapse" aria-labelledby="headingThree"
											data-parent="#accordionExample">
											<div class="card-body">
												<table class="table acc-tblcutom">
													<tbody>

														<tr>
															<td><strong>Active or Day Trading </strong></td>
															<td><%= user.accountRisk == 'Active or Day Trading' ? 'Yes' : 'No' %>
															</td>
														</tr>


														<tr>
															<td><strong>Conservative </strong></td>
															<td><%= user.conservative ? 'Yes' : 'No' %></td>
														</tr>
														<tr>
															<td><strong>Moderately Conservative </strong></td>
															<td><%= user.moderatelyConservative ? 'Yes' : 'No' %></td>
														</tr>
														<tr>
															<td><strong>Moderate</strong></td>
															<td><%= user.moderate ? 'Yes' : 'No' %></td>
														</tr>
														<tr>
															<td><strong>Moderately Aggressive</strong></td>
															<td><%= user.moderatelyAggressive ? 'Yes' : 'No' %></td>
														</tr>
														<tr>
															<td><strong>Significant Risk</strong></td>
															<td><%= user.significantRisk ? 'Yes' : 'No' %></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>

									<div class="card">
										<div class="card-header" id="headingThree">
											<h2 class="mb-0">
												<button type="button" class="btn btn-link collapsed"
													data-toggle="collapse" data-target="#financial-situation"> Financial
													Situation <i class="fa fa-plus"></i></button>
											</h2>
										</div>
										<div id="financial-situation" class="collapse" aria-labelledby="headingThree"
											data-parent="#accordionExample">
											<div class="card-body">
												<table class="table acc-tblcutom">
													<tbody>

														<tr class="adition-title">
															<td><strong>Financial Situation and Needs, Liquidity
																	Considerations and Tax
																	Status</strong></td>
															<td></td>
														</tr>
														<tr>
															<td><strong>Annual Expenses </strong></td>
															<td><%= user.annualExpense %></td>
														</tr>
														<tr>
															<td><strong>Special Expenses </strong></td>
															<td><%= user.specialExpense %></td>
														</tr>
														<tr>
															<td><strong>Liquidity Needs</strong></td>
															<td><%= user.liquidityExpense
                            %></td>
														</tr>
														<tr class="adition-title">
															<td><strong>The expected period you plan to achieve your
																	financial goal(s)</strong></td>
															<td></td>
														</tr>
														<tr>
															<td><strong>The expected period</strong></td>
															<td><%= user.financialGoal
                            %></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>


									<div class="card">
										<div class="card-header" id="headingThree">
											<h2 class="mb-0">
												<button type="button" class="btn btn-link collapsed"
													data-toggle="collapse" data-target="#invest-exp"> Investment
													Experience <i class="fa fa-plus"></i></button>
											</h2>
										</div>
										<div id="invest-exp" class="collapse" aria-labelledby="headingThree"
											data-parent="#accordionExample">
											<div class="card-body">
												<table class="table acc-tblcutom">
													<tbody>
														<tr>
															<td><strong>Investment</strong></td>
															<td>
																<%= user.stockExp? ' Stocks | ' : '' %> 
																<%= user.bondExp? ' Bond | ' : '' %> 
																<%= user.optionsExp? ' Options |' : '' %> 
																<%= user.futureExp? ' Future |' : '' %>
															</td>
														</tr>
														<tr>
															<td><strong>Year Of Experience</strong></td>
															<td>
																<%= user.stockExp ?  user.stockExp+' | ' : '' %> 
																<%= user.bondExp ? user.bondExp+' | ' : '' %> 
																<%= user.optionsExp ? user.optionsExp+' | ' : '' %> 
																<%= user.futureExp ? user.futureExp+' | ' : '' %></td>
														</tr>
														<tr>
															<td><strong>Knowledge</strong></td>
															<td>
																<%= user.stockExpertise ?  user.stockExpertise+' | ' : '' %> 
																<%= user.bondExpertise ? user.bondExpertise+' | ' : '' %> 
																<%= user.optionsExpertise ? user.optionsExpertise+' | ' : '' %> 
																<%= user.futureExpertise ? user.futureExpertise+' | ' : '' %>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>

									<div class="card">
										<div class="card-header" id="headingThree">
											<h2 class="mb-0">
												<button type="button" class="btn btn-link collapsed"
													data-toggle="collapse" data-target="#disclosures"> Disclosures <i
														class="fa fa-plus"></i></button>
											</h2>
										</div>
										<div id="disclosures" class="collapse" aria-labelledby="headingThree"
											data-parent="#accordionExample">
											<div class="card-body">
												<table class="table acc-tblcutom">
													<tbody>

														<tr>
															<td><strong>Do you mantain any other Brokerage accounts
																	?</strong></td>
															<td><%= user.brokerAccount == '1' ? 'Yes' : 'No' %></td>
														</tr>
														<% if(user.brokerAccount) { %>
														<tr>
															<td><strong>Account Number</strong></td>
															<td><%= user.brokerAccountTotal %></td>
														</tr>
														<% }%>
														<tr>
															<td><strong>Do you already maintain an account at either
																	Velocity Clearing LLC in which
																	you have control, beneficial interest, or trading
																	authority ?</strong></td>
															<td><%= user.beneficial == '1' ? 'Yes' : 'No' %></td>
														</tr>
														<% if(user.beneficial) { %>
														<tr>
															<td><strong>Account Number</strong></td>
															<td><%= user.beneficialAccountNumber %></td>
														</tr>
														<tr>
															<td><strong>Account Name</strong></td>
															<td><%= user.beneficialAccountName %></td>
														</tr>
														<% }%>
														<tr>
															<td><strong>Do you have a relationship with an entity that
																	already maintains an account at
																	Velocity Clearing LLC, such as employee, officer,
																	shareholder,
																	member,partner or owner ?</strong></td>
															<td><%= user.shareHolder == '1' ? 'Yes' : 'No' %></td>
														</tr>
														<% if(user.shareHolder) { %>
														<!-- <tr>
															<td><strong>Explaination</strong></td>
															<td><%= user.shareHolderExplaination %></td>
														</tr> -->
														<tr>
															<td><strong>AccountNumber</strong></td>
															<td><%= user.shareHolderAccountNumber %></td>
														</tr>
														<tr>
															<td><strong>AccountName</strong></td>
															<td><%= user.shareHolderAccountName %></td>
														</tr>
														<tr>
															<td><strong>Relationship</strong></td>
															<td><%= user.shareHolderRelationship %></td>
														</tr>
														<% }%>
														<tr>
															<td><strong>Are either you or an immediate family member an
																	officer, director or at least
																	10% shareholder in a publicly traded company
																	?</strong></td>
															<td><%= user.immediate == '1' ? 'Yes' : 'No' %></td>
														</tr>
														<% if(user.immediate) { %>
														<tr>
															<td><strong>Company Name</strong></td>
															<td><%= user.immediateCompanyName %></td>
														</tr>

														<tr>
															<td><strong>Company Address </strong></td>
															<td><%= user.immediateCompanyaddress %></td>
														</tr>

														<tr>
															<td><strong>Relationship with entity</strong></td>
															<td><%= user.immediateRelationshipwithentity %></td>
														</tr>
														<% }%>
														<tr>
															<td><strong>Are either you or an immediate family member
																	employed by FINRA, a registered
																	broker dealer or a securities exchange ?</strong>
															</td>
															<td><%= user.securities == '1' ? 'Yes' : 'No' %></td>
														</tr>
														<% if(user.securities) { %>
														<tr>
															<td><strong>Name of the Firm Or Exchange</strong></td>
															<td><%= user.securitiesFirm %></td>
														</tr>

														<tr>
															<td><strong>Firm Address</strong></td>
															<td><%= user.securitiesFirmAddress %></td>
														</tr>
														<% }%>
														<tr>
															<td><strong>Are you a senior officer at a bank, savings and
																	loan institution, investment
																	company, investment advisory firm, or other
																	financial institution ?</strong></td>
															<td><%= user.institution == '1' ? 'Yes' : 'No' %></td>
														</tr>
														<% if(user.institution) { %>
														<tr>
															<td><strong>Name of the Firm</strong></td>
															<td><%= user.institutionFirm %></td>
														</tr>
														<% }%>
														<% if(user.institution) { %>
														<tr>
															<td><strong>Name of the Firm</strong></td>
															<td><%= user.institutionFirm %></td>
														</tr>
														<% }%>
														<tr>
															<td><strong>Are any principals or authorized individuals a
																	senior political figure, a family member, or
																	relative of a senior political figure? </strong>
															</td>
															<td><%= user.authorizedIndividual == '1' ? 'Yes' : 'No' %>
															</td>
														</tr>
														<% if(user.authorizedIndividual) { %>
															<tr>
																<td><strong>Name of the political figure</strong></td>
																<td><%= user.authorizedIndividualName %></td>
															</tr>
															<tr>
																<td><strong>Position of the political figure</strong></td>
																<td><%= user.authorizedIndividualPosition %></td>
															</tr>
															<tr>
																<td><strong>Relationship with the political figure</strong></td>
																<td><%= user.authorizedIndividualRelation %></td>
															</tr>
														<% }%>
														<tr>
															<td><strong>U.S. Person:</strong></td>
															<td><%= (user.taxWitholding == 'U.S. Person') ? 'Yes' : 'No'  %>
															</td>
														</tr>
														<tr>
															<td class="p-left-15"> <strong>I am a U.S citizen or a U.S.
																	Resident Alien or other
																	U.S.</strong></td>
															<td><%= (user.underUs == '1') ? 'Yes' : 'No'  %></td>
														</tr>
														<tr>
															<td class="p-left-25"><strong>I am not subject to backup
																	Withholding because</strong></td>
															<td><%= (user.underUs == '2') ? 'Yes' : 'No'  %></td>
														</tr>
														<tr>
															<td class="p-left-25"> <strong>a. I am exempt from backup
																	withholding or </strong></td>
															<td><%= (user.underUs2 == 'a') ? 'Yes' : 'No'  %></td>
														</tr>
														<tr>
															<td class="p-left-25"> <strong>b. I have not been notified
																	by the internal Revenue
																	Services (IRS) that I am subject to backup
																	withholding as a result of failure to
																	report all interest or dividends or </strong></td>
															<td><%= (user.underUs2 == 'b') ? 'Yes' : 'No'  %></td>
														</tr>
														<tr>
															<td class="p-left-15"> <strong>c. the IRS has notified me
																	that I am no longer subject to
																	backup withholding. </strong></td>
															<td><%= (user.underUs2 == 'c') ? 'Yes' : 'No'  %></td>
														</tr>
														<tr>
															<td class="p-left-15"><strong>Certification
																	Instruction</strong></td>
															<td><%= (user.taxWitholding == 'Certification Instruction:') ? 'Yes' : 'No'  %>
															</td>
														</tr>
														<tr>
															<td class="p-left-15"><strong>Non Residence Alien</strong>
															</td>
															<td><%= (user.taxWitholding == 'Non Residence Alien:') ? 'Yes' : 'No'  %>
															</td>
														</tr>

														<tr>
															<td><strong>Yes -I Want the ability to borrow funds in my
																	account</strong></td>
															<td><%= user.optRadio ? user.borrowInput : 'No'  %></td>
														</tr>

													</tbody>
												</table>
											</div>
										</div>
									</div>

									<div class="card">
										<div class="card-header" id="headingThree">
											<h2 class="mb-0">
												<button type="button" class="btn btn-link collapsed"
													data-toggle="collapse" data-target="#signatures"> Disclosures &
													Signatures <i class="fa fa-plus"></i></button>
											</h2>
										</div>
										<div id="signatures" class="collapse" aria-labelledby="headingThree"
											data-parent="#accordionExample">
											<div class="card-body">
												<table class="table acc-tblcutom">
													<tbody>

														<tr>
															<td><strong>Account Terms & Conditions</strong></td>
															<td><%= user.accountTerms ?'Yes' : 'No'  %></td>
														</tr>
														<tr>
															<td><strong> Day Trading Risk Disclosure</strong> </td>
															<td><%= user.riskDis ? 'Yes' : 'No'  %></td>
														</tr>
														<tr>
															<td><strong> Penny Stocks Disclosure </strong></td>
															<td><%= user.pennyStocks ? 'Yes' : 'No'  %></td>
														</tr>
														<tr>
															<td> <strong>Electronic Access & Trading Agreement </strong>
															</td>
															<td><%= user.electronicAccess ?'Yes' : 'No'  %></td>
														</tr>
														<tr>
															<td><strong> Margin Disclosure Statement </strong></td>
															<td><%= user.marginDisclosure ? 'Yes' : 'No'  %></td>
														</tr>
														<tr>
															<td><strong> W-9 Certification </strong></td>
															<td><%= user.w9_Certification ?'Yes' : 'No'  %></td>
														</tr>
														<tr>
															<td><strong> Stock Locate Agreement </strong></td>
															<td><%= user.stock_Locate ?'Yes' : 'No'  %></td>
														</tr>
														<tr>
															<td><strong> Margin Agreement </strong></td>
															<td><%= user.marginDisc ?'Yes' : 'No'  %></td>
														</tr>
														<tr>
															<td><strong>Margin Disclosure Consent for Mail delivery of
																	Statements and Confirms
																	otherwise they will be delivered electronically
																</strong></td>
															<td><%= user.confirmedElectronic ? 'Yes' : 'No'  %></td>
														</tr>

													</tbody>
												</table>
											</div>
										</div>
									</div>

									<div class="card">
										<div class="card-header" id="headingThree">
											<h2 class="mb-0">
												<button type="button" class="btn btn-link collapsed"
													data-toggle="collapse" data-target="#identi-proof"> Identification
													Proof Upload <i class="fa fa-plus"></i></button>
											</h2>
										</div>
										<div id="identi-proof" class="collapse" aria-labelledby="headingThree"
											data-parent="#accordionExample">
											<div class="card-body">
												<table class="table acc-tblcutom">
													<tbody>
														<tr>
															<td>Upload a Copy of Government issued ID </td>
															<td></td>
														</tr>
														<% let p = 1; %>

														<% if(user.photo.length){ user.photo.forEach(function(photo1) {  if(photo1 != null && photo1 != '') {%>
														<tr>
															<!-- mediaUrl -->
															<td><%= p++ %></td>
															<td>
																<% if(photo1.includes(".pdf") || photo1.includes(".PDF")){ %>
																<a href="<%= appurl+photo1%>" target="_blank"> Click
																	Here </a>
																<% }else{ %>
																<img src="<%= appurl+photo1%>" class="img-fluid d-block"
																	style="height: 200px;" />
																<% } %>
															</td>
														</tr>
														<%  } }) } %>
													</tbody>
												</table>

											</div>
										</div>
									</div>

									<div class="card">
										<div class="card-header" id="headingZero">
											<h2 class="mb-0">
												<button type="button" class="btn btn-link" data-toggle="collapse"
													data-target="#auditdata">
													Audit / Log <i class="fa fa-plus"></i></button>
											</h2>
										</div>
										<div id="auditdata" class="collapse" aria-labelledby="headingZero"
											data-parent="#accordionExample">

											<!-- Nav tabs -->
											<ul class="nav nav-tabs">
												<li class="nav-item">
													<a class="nav-link active" data-toggle="tab"
														href="#signupform">Signup form</a>
												</li>
												<li class="nav-item">
													<a class="nav-link" data-toggle="tab" href="#form-submit">Form
														Submitted</a>
												</li>
												<li class="nav-item">
													<a class="nav-link" data-toggle="tab" href="#app-acc"><%  
                              if(audit.applicationStatus != null){
                              if(audit.applicationStatus.type == 'Application accepted') {%> Application Accepted
														<%} else if(audit.applicationStatus.type == 'Application rejected') {%>
														Application Rejected
														<%} } else {%> Application <%} %> </a>
												</li>
												<li class="nav-item">
													<a class="nav-link" data-toggle="tab" href="#emailto-user">Email
														Sent To Draft User</a>
												</li>

											</ul>

											<div class="tab-content">
												<div class="tab-pane active" id="signupform">
													<table class="table acc-tblcutom">
														<tbody>
															<tr>
																<td><strong>User Id</strong></td>
																<td><%= audit.userId %></td>

															</tr>
															<tr>
																<td><strong>User Email</strong></td>
																<td><%= user.email %></td>

															</tr>
															<tr>
																<td><strong>Event </strong></td>
																<td><%= audit.signupForm.type %></td>
															</tr>
															<tr>
																<td><strong>Location</strong></td>
																<td><%= audit.signupForm.location %></td>
															</tr>
															<tr>
																<td><strong>Ip Address</strong></td>
																<td><%= audit.signupForm.ipaddress %></td>
															</tr>
															<tr>
																<td class="p-left-15"><strong>Date</strong></td>
																<td>
																	<%= audit.signupForm.date != null ?  moment(audit.signupForm.date).format('MM/DD/YYYY - hh:mm A') : '' %>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
												<div class="tab-pane fade" id="form-submit">
													<table class="table acc-tblcutom">
														<tbody>
															<tr>
																<td><strong>User Id</strong></td>
																<td><%= audit.userId %></td>

															</tr>
															<tr>
																<td><strong>User Email</strong></td>
																<td><%= user.email %></td>

															</tr>
															<tr>
																<td><strong>Event </strong></td>
																<td><%= audit.formSubmitted.type %></td>
															</tr>
															<tr>
																<td class="p-left-15"><strong>Date</strong></td>
																<td>
																	<%= audit.formSubmitted.date != null ?  moment(audit.formSubmitted.date).format('MM/DD/YYYY - hh:mm A') : '' %>
																</td>
															</tr>

														</tbody>
													</table>
												</div>
												<div class="tab-pane fade" id="app-acc">
													<table class="table acc-tblcutom">
														<tbody>

															<tr>
																<td><strong>User Id </strong></td>
																<td><%= audit.userId %></td>
															</tr>
															<tr>
																<td><strong>User Email</strong></td>
																<td><%= user.email %></td>
															</tr>
															<tr>
																<td><strong>Event</strong></td>
																<td><%= audit.applicationStatus.type %></td>
															</tr>
															<tr>
																<td><strong>Approved By </strong></td>
																<td><%= audit.applicationStatus.admin ? audit.applicationStatus.admin.firstName : '' %>
																	<%= audit.applicationStatus.admin ?  audit.applicationStatus.admin.lastName : ''%>
																</td>
															</tr>
															<tr>
																<td><strong>Message sent to user</strong></td>
																<td><%= audit.applicationStatus.message %></td>
															</tr>
															<tr>
																<td><strong>Reason</strong></td>
																<td><%= audit.applicationStatus.reason %></td>
															</tr>
															<tr>
																<td class="p-left-15"><strong>Date</strong></td>
																<td>
																	<%= audit.applicationStatus.date != null ?  moment(audit.applicationStatus.date).format('MM/DD/YYYY - hh:mm A') : '' %>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
												<div class="tab-pane fade" id="emailto-user">
													<table class="table acc-tblcutom">
														<tbody>
															<% let i = 0; %>
															<% audit.draftEmail.forEach(function(draftemail) { %>
															<% i++; %>
															<tr colspan="2">
																<td><strong>Email <%= i %> </strong></td>
															</tr>
															<tr>
																<td><strong>User Id </strong></td>
																<td><%= audit.userId %></td>
															</tr>
															<tr>
																<td><strong>User email</strong></td>
																<td><%= user.email %></td>
															</tr>
															<tr>
																<td><strong>Event</strong></td>
																<td><%= draftemail.type %></td>
															</tr>
															<tr>
																<td><strong>Email Sent by</strong></td>
																<% var sendEmail = {...draftemail.emailSend};%>
																<td><%= sendEmail._doc.firstName %>
																	<%= draftemail.emailSend._doc.lastName %></td>
															</tr>
															<tr>
																<td><strong>Message sent to user</strong></td>
																<td><%= draftemail.message %></td>
															</tr>
															<tr>
																<td class="p-left-15"><strong>Date</strong></td>
																<td>
																	<%= draftemail.date != null ?  moment(draftemail.date).format('MM/DD/YYYY - hh:mm A') : '' %>
																</td>
															</tr>
															<% }) %>
														</tbody>
													</table>
												</div>
											</div>

										</div>
									</div>





								</div>
							</div>
						</div>
					</div><!-- // Row // -->
				</div><!-- // Container-fluid // -->
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->

		<!-- Control Sidebar -->
		<aside class="control-sidebar control-sidebar-dark">
			<!-- Control sidebar content goes here -->
		</aside>
		<!-- /.control-sidebar -->

		<!-- Main Footer -->
		<%- include('admin_include/_footer'); -%>
	</div>
	<!-- ./wrapper -->


	<%- include('admin_include/_script'); -%>

</body>

</html>