<%- include('admin_include/_head'); -%>

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
	<div class="wrapper">
		<!-- Navbar -->
		<%- include('admin_include/_navbar'); -%>
		<!-- /.navbar -->

		<!-- Main Sidebar Container -->
		<!-- Sidebar -->
		<%- include('admin_include/_sidebar'); -%>
		<!-- /.sidebar -->


		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0 text-dark">Audit</h1>
						</div><!-- /.col -->
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a href="">Home</a></li>
								<li class="breadcrumb-item active">Audit</li>
							</ol>
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.container-fluid -->
			</div>
			<!-- /.content-header -->

			<!-- Main content -->
			<section class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<!-- <div class="card-header">
                 <h3 class="card-title">Simple Full Width Table</h3> 

                <div class="card-tools">
                  <ul class="pagination pagination-sm float-right">
                    <li class="page-item"><a class="page-link" href="#">«</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">»</a></li>
                  </ul>
                </div>
              </div> -->
								<!-- /.card-header -->
								<div id="accordion">
									<% let cid = 0; %>
									<% audits.forEach(function(audit) { %>
									<% cid++; %>
									<div class="card">
										<div class="card-header" id="heading-<%= cid %>">
											<h5 class="mb-0">
												<a role="button" data-toggle="collapse" href="#collapse-<%= cid %>"
													aria-expanded="true" aria-controls="collapse-<%= cid %>">
													User Name : 
													<% if (audit.rejectUserId) {
														audit.userId = audit.rejectUserId
													}%>
													<%= audit.userId ? (audit.userId.firstName || '-')+' '+(audit.userId.lastName || '-') : '- -'%>
													<i class="fa fa-plus"></i>
													
												</a>
											</h5>
										</div>
										<div id="collapse-<%= cid %>" class="collapse" data-parent="#accordion"
											aria-labelledby="heading-<%= cid %>">
											<div class="card-body">

												<div id="accordion-<%= cid %>">
													<div class="card">
														<div class="card-header" id="heading-<%= cid %>-1">
															<h5 class="mb-0">
																<a class="collapsed" role="button"
																	data-toggle="collapse" href="#collapse-<%= cid %>-1"
																	aria-expanded="false"
																	aria-controls="collapse-<%= cid %>-1">
																	Signup form
																	<span>
																		<%= audit.signupForm.date != null ?  moment(audit.signupForm.date).format('MM/DD/YYYY - hh:mm A') : '' %></span>
																</a>
															</h5>
														</div>
														<div id="collapse-<%= cid %>-1" class="collapse container"
															data-parent="#accordion-<%= cid %>"
															aria-labelledby="heading-<%= cid %>-1">
															<table class="table acc-tblcutom audit-tbl">
																<tbody>
																	<tr>
																		<td><strong>User Id</strong></td>
																		<td><%= audit.userId ? audit.userId._id : '-' %>
																		</td>

																	</tr>
																	<tr>
																		<td><strong>User Email</strong></td>
																		<td><%= audit.userId ? audit.userId.email : '-' %>
																		</td>

																	</tr>
																	<tr>
																		<td><strong>Event </strong></td>
																		<td><%= audit.signupForm.type %></td>
																	</tr>
																	<tr>
																		<td><strong>Location</strong></td>
																		<td><%= audit.signupForm.location %></td>
																	</tr>
																	<tr>
																		<td><strong>Ip Address</strong></td>
																		<td><%= audit.signupForm.ipaddress %></td>
																	</tr>

																</tbody>
															</table>
														</div>
													</div>


													<div class="card">
														<div class="card-header" id="heading-<%= cid %>-2">
															<h5 class="mb-0">
																<a class="collapsed" role="button"
																	data-toggle="collapse" href="#collapse-<%= cid %>-2"
																	aria-expanded="false"
																	aria-controls="collapse-<%= cid %>-2">
																	Form Submitted
																	<span><%= audit.formSubmitted.date != null ?  moment(audit.formSubmitted.date).format('MM/DD/YYYY - hh:mm A') : '' %></span>
																</a>
															</h5>
														</div>
														<div id="collapse-<%= cid %>-2" class="collapse container"
															data-parent="#accordion-<%= cid %>"
															aria-labelledby="heading-<%= cid %>-2">
															<table class="table acc-tblcutom audit-tbl">
																<tbody>
																	<tr>
																		<td><strong>User Id</strong></td>
																		<td><%= audit.userId ? audit.userId._id : '-' %>
																		</td>

																	</tr>
																	<tr>
																		<td><strong>User Email</strong></td>
																		<td><%= audit.userId ? audit.userId.email : '-' %>
																		</td>
																	</tr>
																	<tr>
																		<td><strong>Event </strong></td>
																		<td><%= audit.formSubmitted.type %></td>
																	</tr>

																</tbody>
															</table>
														</div>
													</div>

													<div class="card">
														<div class="card-header" id="heading-<%= cid %>-3">
															<h5 class="mb-0">
																<a class="collapsed" role="button"
																	data-toggle="collapse" href="#collapse-<%= cid %>-3"
																	aria-expanded="false"
																	aria-controls="collapse-<%= cid %>-3">
																	<%  if(audit.applicationStatus.type == 'Application accepted') {%>
																	Application Accepted
																	<%} else if(audit.applicationStatus.type == 'Application rejected') {%>
																	Application Rejected <%} else {%> Application <%} %>
																	<span><%= audit.applicationStatus.date != null ?  moment(audit.applicationStatus.date).format('MM/DD/YYYY - hh:mm A') : '' %></span>
																</a>
															</h5>
														</div>
														<div id="collapse-<%= cid %>-3" class="collapse container"
															data-parent="#accordion-<%= cid %>"
															aria-labelledby="heading-<%= cid %>-3">
															<table class="table acc-tblcutom audit-tbl">
																<tbody>

																	<tr>
																		<td><strong>User Id </strong></td>
																		<td><%= audit.userId ? audit.userId._id : '-' %>
																		</td>

																	</tr>
																	<tr>
																		<td><strong>User email</strong></td>
																		<td><%= audit.userId ? audit.userId.email : '-' %>
																		</td>
																	</tr>
																	<tr>
																		<td><strong>Event</strong></td>
																		<td><%= audit.applicationStatus.type %></td>
																	</tr>
																	<tr>
																		<td><strong>Approved By </strong></td>
																		<td><%= audit.applicationStatus.admin != null?audit.applicationStatus.admin.username:"" %></td>
																	</tr>
																	<tr>
																		<td><strong>Message sent to user</strong></td>
																		<td><%= audit.applicationStatus.message %></td>
																	</tr>
																	  
																		<tr>
																			<td><strong>Reason</strong></td>
																			<td><%= audit.applicationStatus.reason %></td>
																		</tr>
																	
																</tbody>
															</table>
														</div>
													</div>

													<div class="card">
														<div class="card-header" id="heading-<%= cid %>-4">
															<h5 class="mb-0">
																<a class="collapsed" role="button"
																	data-toggle="collapse" href="#collapse-<%= cid %>-4"
																	aria-expanded="false"
																	aria-controls="collapse-<%= cid %>-4">
																	Email Sent To Draft User
																	<span></span>
																</a>
															</h5>
														</div>
														<div id="collapse-<%= cid %>-4" class="collapse container"
															data-parent="#accordion-<%= cid %>"
															aria-labelledby="heading-<%= cid %>-4">
															<table class="table acc-tblcutom">
																<tbody>
																	<% let i = 0; %>
																	<%
																		if (audit.draftEmail.length!=0) {
																			audit.draftEmail.forEach(function(draftemail) { 
																				i++; %>
																	<tr>
																		<td><strong>Email <%= i %> </strong></td>
																		<td>
																			<strong>
																				<span><%= draftemail.date != null ?  moment(draftemail.date).format('MM/DD/YYYY - hh:mm A') : '' %></span>
																			</strong>
																		</td>
																	</tr>
																	<tr>
																		<td><strong>User Id </strong></td>
																		<td><%= audit.userId==null?"":audit.userId._id %></td>
																	</tr>
																	<tr>
																		<td><strong>User email</strong></td>
																		<td><%= audit.userId==null?"":audit.userId.email %></td>
																	</tr>
																	<tr>
																		<td><strong>Event</strong></td>
																		<td><%= draftemail.type %></td>
																	</tr>
																	<tr>
																		<td><strong>Email Sent by</strong></td>
																		<% var sendEmail = {...draftemail.emailSend}%>
																		<td><%= sendEmail._doc ?  sendEmail._doc.firstName : '' %>
																			<%= sendEmail._doc ?  sendEmail._doc.lastName : '' %>
																		</td>
																	</tr>
																	<tr>
																		<td><strong>Message sent to user</strong></td>
																		<td><%= draftemail.message %></td>
																	</tr>
																	<%  }) } %>
																</tbody>
															</table>





														</div>
													</div>



												</div>

											</div>
										</div>
									</div>

									<% }); %>

								</div>
								<!-- /.card-body -->
							</div>
							<!-- /.card -->
						</div>
					</div><!-- // Row // -->
				</div><!-- // Container-fluid // -->
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->

		<!-- Control Sidebar -->
		<aside class="control-sidebar control-sidebar-dark">
			<!-- Control sidebar content goes here -->
		</aside>
		<!-- /.control-sidebar -->

		<!-- Main Footer -->
		<%- include('admin_include/_footer'); -%>
	</div>
	<!-- ./wrapper -->






	<%- include('admin_include/_script'); -%>
</body>

</html>