<%- include('admin_include/_head'); -%>

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">
       
        <%- include('admin_include/_navbar'); -%>
        <%- include('admin_include/_sidebar'); -%>
        <div class="content-wrapper">
            <section class="content mt-5">
                <div class="container-fluid">
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <div class="card mt-3">
                                <div class="card-header">
                                    <div class="card-title">User Details</div>
                                </div>
                                <div class="card-body table-responsive">
                                    <table class="table table-bordered">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>User Name</th>
                                                <th>User Email</th>
                                                <th>Date</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><%= user.firstName%> <%= user.lastName%></td>
                                                <td><%= user.email%></td>
                                                <td><%= moment(user.createdAt).format('MM/DD/YYYY')%></td>
                                                <% if(user.isDraft && user.isApprove==null) { %>
                                                    <td><span class="badge badge-warning">Draft</span></td>
                                                <% }else if(user.isApprove  && !user.isDraft){ %>
                                                    <td><span class="badge badge-info">Accepted</span></td>
                                                <% }else if(user.isApprove==null  && !user.isDraft){ %>
                                                    <td><span class="badge badge-success">Pending</span></td>
                                                <% } %>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body table-responsive" style="overflow-x: auto;">
                                    <table id="tblBridgerResponse" class="table table-bordered">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>No</th>
                                                <!-- <th>Decision</th> -->
                                                <th>Score</th>
                                                <th>Name</th>
                                                <th>Date of Birth</th>
                                                <th>Gender</th>
                                                <th>ID Number</th>
                                                <th>Address</th>
                                                <th>Country</th>
                                                <th>Phone</th>
                                                <!-- <th>Entity type</th>
                                                <th>Citizenship</th> -->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% if(data && data.length > 0){ %>
                                                <% data.forEach(function(match, index) { %>
                                                    <tr id="<%= 'accordion' + (index + 1) %>" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="<%= '#accordion' + (index + 1) %>" href="<%= '#collapse' + (index + 1) %>"  data-index="<%= index + 1 %>">
                                                        <td><%= index + 1 %></td>
                                                        <!-- <td></td> -->
                                                        <td><%= match.score %></td>
                                                        <td>
                                                            <div class="d-flex flex-column">
                                                                <div class="p-1"><%= match.fullName %></div>
                                                                <div class="p-1"><%= match.bestName %></div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex flex-column">
                                                                <% if(match.dateOfBirths){  match.dateOfBirths.forEach(function(doB){ %>
                                                                    <div class="p-1"><%= doB %></div>
                                                                <% }) } %>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <%= match.gender %>
                                                        </td>
                                                        <td>
                                                            <% if(match.idNumbers){ match.idNumbers.forEach(function(ids){ %>
                                                                <div class="p-1"><%= ids %></div>
                                                            <% }) } %>
                                                        </td>
                                                        <td>
                                                            <% if(match.addresses){ match.addresses.forEach(function(address){ %>
                                                                <div class="p-1"><%= address %></div>
                                                            <% }) } %>
                                                        </td>
                                                        <td>
                                                            <% if(match.countries){ match.countries.forEach(function(country){ %>
                                                                <div class="p-1"><%= country %></div>
                                                            <% }) } %>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex flex-column">
                                                                <% if(match.phoneNumbers){ match.phoneNumbers.forEach((phone)=>{ %>
                                                                    <div class="p-1"><%= phone %></div>
                                                                <% }) } %>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr class="hide-table-padding">
                                                        <td colspan="10">
                                                            <div id="<%= 'collapse' + (index + 1) %>" class="collapse in p-3">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <% 
                                                                            let data = JSON.parse(match.stringifiedResponse);
                                                                            let orderArr = ['EntityScore', 'EntityName', 'EntityUniqueID', 'BestName', 'BestNameScore', 'BestCountry', 'BestCountryType', 'BestCountryScore', 'AddressName', 'FalsePositive', 'BestAddressIsPartial', 'AcceptListID', 'AddedToAcceptList', 'AutoFalsePositive', 'BestDOBIsPartial', 'CheckSum', 'Conflicts', 'EntityDetails', 'File', 'GatewayOFACScreeningIndicatorMatch', 'ID', 'MatchReAlert', 'PreviousResultID', 'ReasonListed', 'ResultDate', 'SecondaryOFACScreeningIndicatorMatch', 'TrueMatch', 'FalseMatchUpdate'];
                                                                            let res = Object.keys(data).map(a => ({[a] : data[a]}))
                                                                            .sort((a,b) => (orderArr.indexOf(Object.keys(a)[0]) + 1) - (orderArr.indexOf(Object.keys(b)[0]) + 1));
                                                                            data = {};  
                                                                            res.forEach(function(k, v){ 
                                                                                for(i = 0; i < 1; i++){ 
                                                                                    data[Object.keys(k)] = k[Object.keys(k)] 
                                                                                } 
                                                                            });
                                                                         %>
                                                                        <% const {html} = new Jsontableify().toHtml(data) %>
                                                                        <%- html %>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <% }) %>
                                            <% } else { %>
                                                <tr><td colspan="9" class="text-center"><div>No Data Found</div></td></tr>
                                            <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        

    </div>
    <%- include('admin_include/_script'); -%>
</body>