<%- include('admin_include/_head'); -%>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">
  <!-- Navbar -->
  <%- include('admin_include/_navbar'); -%>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <%- include('admin_include/_sidebar'); -%>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Add User</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/admin/user-management">User Managment</a></li>
              <li class="breadcrumb-item active">Edit User</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              
              <!-- /.card-header -->
             <div class="sendForm">
              <%- include('messages'); -%>
                              <form action="/admin/user-management/edit-user/<%= user_management._id%>" method="post">

                                <input type="text" name="username" id="username" placeholder="User Name" required value="<%= user_management.username %>">
                                <input type="text"  placeholder="User Email" name="email" id="email" required value="<%= user_management.email %>" disabled>
                                <select name="role" id="role" required>
                                  <option value="Admin" <%=  user_management.role == 'Admin'   ? 'selected' : '' %>>Admin</option>
                                  <option value="Marketing"  <%= user_management.role == 'Marketing'   ? 'selected' : '' %>>Marketing</option>
                                </select>
                                <input
                                  name="password"
                                  type="password"
                                  id="password"
                                  class="form-control"
                                  placeholder="Password"
                                  title="Must contain at least one  number , one uppercase , lowercase letter, at least 8 characters, maximum 25 characters and one special characters"
                                  pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,25}$"
                                  required="required"
                                />
                                <!-- <input type="password" name="password" 
                                id="password"
                                placeholder="User Password" value=""  > -->
                                
                                <input type="submit" value="Submit">
                              </form>
                            </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div><!-- // Row // -->
      </div><!-- // Container-fluid // -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  <%- include('admin_include/_footer'); -%>
</div>
<!-- ./wrapper -->

<%- include('admin_include/_script'); -%>
</body>
</html>
