<%- include('admin_include/_head'); -%>

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">
       
        <%- include('admin_include/_navbar'); -%>
        <%- include('admin_include/_sidebar'); -%>
        <div class="content-wrapper">
            <section class="content mt-5">
                <div class="container-fluid">
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <div class="card mt-3">
                                <div class="card-header">
                                    <div class="card-title">User Details</div>
                                </div>
                                <div class="card-body table-responsive">
                                    <table class="table table-bordered">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>User Name</th>
                                                <th>User Email</th>
                                                <th>Date</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><%= user.firstName%> <%= user.lastName%></td>
                                                <td><%= user.email%></td>
                                                <td><%= moment(user.createdAt).format('MM/DD/YYYY')%></td>
                                                <% if(user.isDraft && user.isApprove==null) { %>
                                                    <td><span class="badge badge-warning">Draft</span></td>
                                                <% }else if(user.isApprove  && !user.isDraft){ %>
                                                    <td><span class="badge badge-info">Accepted</span></td>
                                                <% }else if(user.isApprove==null  && !user.isDraft){ %>
                                                    <td><span class="badge badge-success">Pending</span></td>
                                                <% } %>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body table-responsive" style="overflow-x: auto;">
                                    <table id="tblTrueIdResponse" class="table table-bordered">
                                        <thead class="thead-light">
                                            <tr>
                                                <!-- <th>Decision</th> -->
                                                <th>Date</th>
                                                <th>Request Id</th>
                                                <th>Conversion Id</th>
                                                <th>Transaction Status</th>
                                                <th>Transaction Reason Code</th>
                                                <th>Transaction Reason Description</th>
                                                <th>Product Type</th>
                                                <th>Executed Step Name</th>
                                                <th>Product Configuration Name</th>
                                                <th>Product Status</th>
                                                <!-- <th>Entity type</th>
                                                <th>Citizenship</th> -->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% if(data && data.decryptedResponse) { %>
                                                <tr id="<%= 'accordion' %>" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="<%= '#accordion' %>" href="<%= '#collapse' %>"  data-index="<%= 1%>">
                                                    <td><%= data.date %></td>
                                                    <td><%= data.requestId %></td>
                                                    <td><%= data.conversationId %></td>
                                                    <td><%= data.transactionStatus %></td>
                                                    <td>
                                                        <% if(data.decryptedResponse && data.decryptedResponse.status.transactionReasonCode){ %> 
                                                            <%= data.decryptedResponse.status.transactionReasonCode.code %>
                                                        <% } %>
                                                    </td>
                                                    <td>
                                                    <% if(data.decryptedResponse && data.decryptedResponse.status.transactionReasonCode){ %> 
                                                        <%= data.decryptedResponse.status.transactionReasonCode.description %>
                                                    <% } %>
                                                    </td>
                                                    <td><div class="d-flex flex-column"><% if(data.decryptedResponse && data.decryptedResponse.products) { data.decryptedResponse.products.forEach(function(product, index) { %>
                                                        <div class="p-1"><%= product.productStatus %></div>
                                                    <% }) }%></div></td>
                                                    <td><div class="d-flex flex-column"><% if(data.decryptedResponse && data.decryptedResponse.products) { data.decryptedResponse.products.forEach(function(product, index) { %>
                                                        <div class="p-1"><%= product.productType %></div>
                                                    <% }) } %></div></td>
                                                    <td><div class="d-flex flex-column"><% if(data.decryptedResponse && data.decryptedResponse.products) { data.decryptedResponse.products.forEach(function(product, index) { %>
                                                        <div class="p-1"><%= product.executedStepName %></div>
                                                    <% }) } %></div></td>
                                                    <td><div class="d-flex flex-column"><% if(data.decryptedResponse && data.decryptedResponse.products) { data.decryptedResponse.products.forEach(function(product, index) { %>
                                                        <div class="p-1"><%= product.productConfigurationName %></div>
                                                    <% }) } %></div></td>
                                                </tr>
                                                <tr class="hide-table-padding">
                                                    <td colspan="10">
                                                        <div id="<%= 'collapse' %>" class="collapse in p-3">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <% if(data.decryptedRequest) { delete data.decryptedRequest.document  %>
                                                                        <% const {html} = new Jsontableify().toHtml(data) %>
                                                                        <%- html %>
                                                                    <% } %>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            <% } else { %>
                                                <tr><td colspan="9" class="text-center"><div>No Data Found</div></td></tr>
                                            <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        

    </div>
    <%- include('admin_include/_script'); -%>
</body>