<%- include('admin_include/_head'); -%>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">
  <!-- Navbar -->
  <%- include('admin_include/_navbar'); -%>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
   <!-- Sidebar -->
  <%- include('admin_include/_sidebar'); -%>
      
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">User Management</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="">Home</a></li>
              <li class="breadcrumb-item active">User Management</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <%- include('messages'); -%>
                <div class="card-tools">
                  <div class="input-group input-group-sm" >
                    <div class="input-group-append">
                      <a href="user-management/add-user"> <button type="submit" class="btn btn-primary">
                        Add User
                      </button> </a>
                    </div>
                  </div>
                </div> 
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="userTable" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>User Name</th>
                        <th>User Email</th>
                        <th>User Role</th>
                        <th class="text-center">Manage</th>
                      
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    
                  </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div><!-- // Row // -->
      </div><!-- // Container-fluid // -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  <%- include('admin_include/_footer'); -%>
</div>
<!-- ./wrapper -->

<div class="modal fade" id="delete-user">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Are You Sure?</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="" method="post" id="delete-form">
      <div class="modal-body">
        <p>Please Confirm You Really Want To <strong>Delete</strong> This User?</p>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary">Yes! Delete</button>
      </div>
    </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

  <%- include('admin_include/_script'); -%>

      <script>
       $(document).ready(function () {
         $('#userTable').DataTable({
            "paging": true,
            "pageLength": 10,
            "processing": true,
            "serverSide": true,
            'ajax': {
                'type': 'POST',
                'url': '/admin/user-management/datatables'
            },
            'columns':
                [
                { 'data': 'username', "defaultContent": "", 'name': 'username'},
                { 'data': 'email', "defaultContent": "", 'name': 'email' },
                { 'data': 'role', "defaultContent": "", 'name': 'role'},
                
                { 'data': '_id', "defaultContent": "", 'name': 'manage', 'orderable': false, 
                render: function(data, type, full, meta) {
                    return `<a href="user-management/edit-user/${data}"><button data-toggle="tooltip" title="Edit User" class="btn btn-success btn-sm"> <i class="fas fa-edit"></i> </button></a> <button id="${data}" data-toggle="tooltip" title="Delete User" class="btn btn-danger btn-sm delete"><i class="fas fa-trash"></i> </button>`;
                },
                },
                ],
            "columnDefs": [
                {
                    "searchable": true,
                    "orderable": true,
                    "targets": 0
                }
            ],
            createdRow: function (row, data, index) {
                $(row).find('td:eq(3)').addClass('tools custom-icons');
            }
        });
      
      $(document).on('click', '.delete', function () {
      const id = $(this).attr('id');
      $('#delete-form').attr('action', 'user-management/delete-user/' + id);
      $('#delete-user').modal('show');
    });
    
  });
      </script>
</body>
</html>
