<!-- REQUIRED SCRIPTS -->
<!-- jQuery -->
<script src="../../../assets/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="../../../assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- overlayScrollbars -->
<script src="../../../assets/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<!-- AdminLTE App -->
<script src="../../../assets/dist/js/adminlte.js"></script>
<script src="../../../assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../../assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>

<!-- PAGE PLUGINS -->
<!-- jQuery Mapael -->
<script src="../../../assets/plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
<script src="../../../assets/plugins/raphael/raphael.min.js"></script>
<script src="../../../assets/plugins/jquery-mapael/jquery.mapael.min.js"></script>
<script src="../../../assets/plugins/jquery-mapael/maps/usa_states.min.js"></script>
<!-- ChartJS -->
<script src="../../../assets/plugins/chart.js/Chart.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../../assets/dist/js/demo.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="../../../assets/dist/js/pages/dashboard2.js"></script>
<script src="../../../assets/plugins/summernote/summernote-bs4.min.js"></script>
<script src="../../../assets/jquery.signaturepad.js"></script>
<style>
	span.swal2-label {
    font-weight: 400 !important;
}
</style>
<script type="module">
	import Swal from "../../../assets/plugins/sweetalert2/src/sweetalert2.js"

	$(document).on('click', '.accepted', function () {
			let _this = $(this)
			const id = _this.attr('id');

			 Swal.fire({
			title: 'ELECTRONIC RECORDS AND SIGNATURE DISCLOSURE',
			input: 'checkbox',
			inputValue: 1,
			inputPlaceholder:
				'By checking the box "I agree to use Electronic Records and Signatures, you agree that you or the firm you represent will be legally bound by your electronic signature.”',
			confirmButtonText:
				'Continue&nbsp;<i class="fa fa-arrow-right"></i>',
			showCancelButton: true,
			inputValidator: (result) => {
				return !result && 'You need to agree with Electronic Records and Signature Disclosure'
			}
			}).then(function(result) {
				console.log();
				$('#accept-form').attr('action', 'application-accept/' + id);
				$('#accept-modal').data("open", "yes")
				

				if(result['isConfirmed'])
				{
					if(signatureExist=="true"){
						$(".changeSignatureCheckboxDiv").show();
						$(".sigPad").hide();
					}else{
						$(".changeSignatureCheckboxDiv, .nextAcceptedBtn").hide();
						$(".sigPad").show();
					}
					$("#signaturePanel").modal("show")
				}
				
			});

			// if (accept) {
			// Swal.fire('You agreed with T&C :)')
			// $('#accept-form').attr('action', 'application-accept/' + id);
			// $('#accept-modal').data("open", "yes")
			// if(confirm(`ELECTRONIC RECORDS AND SIGNATURE DISCLOSURE \n By Click the button, you agree that you or the firm you represent will be legally bound by your electronic signature.`)){			
			// 	$(".changeSignatureCheckboxDiv").show();
			// 	$(".sigPad").hide();
			// 	$("#signaturePanel").modal("show")

			// }
			// }

			

		});
   
  </script>
<script>
	var signatureExist= "<%= admin.signatureName != null && admin.signatureName != undefined %>"
	$(document).ready(function () {
		let signatureName = 'Admin';
		const signature = $('.sigPad').signaturePad({
			drawOnly: true,
			drawBezierCurves: true,
			lineTop: 200,
			variableStrokeWidth: true
		});
		
		$('#signatureSave').click(function (e) {
			e.preventDefault();
			if($("#signatureType").val()=="drawSignature"){
				const output 	= $('.output').val();
				const name 		= $('.name').val();
				if (output) {
					var canvas = document.getElementById("newSignature"); // save canvas image as data url (png format by default)
					var dataURL = canvas.toDataURL("image/png");
					download(dataURL);
					signatureName = true;
				} else {
					$('#error').html('<p class="error">Signature Is Required</p>');
				}

			}else if($("#signatureType").val()=="uploadImage"){
				download($("#dataUrl").val())
			}
		});

		$(document).ready(function () {
			$("#signatureType").change(function (e) { 
				e.preventDefault();
				let divId = "#"+$(this).val()
				$("#signatureSave").text("Save "+($(this).val()=="uploadImage"?"Image":"Signature"));
				$(".signatureTypes").hide();
				$(divId).show();
			});
		});

		document.getElementById("uploadImage").addEventListener('change', function(event) {  
			let reader = new FileReader();
			let blob   = event.target.files[0]
			reader.readAsDataURL(blob); 
			reader.onloadend = function() {
				var base64data = reader.result;                
				$("#dataUrl").val(base64data);
			}
		})
		function download(dataURL) {
			$.ajax({
				url: '/admin/adminSignatureSave',
				method: 'post',
				dataType: 'json',
				data: {
					_csrf: "",
					dataURL: dataURL,
					adminId: '<%= admin._id %>'
				},
				beforeSend: function () {
					$('.submit').prop('disabled', true);
				},
				success: function (response) {
					if (response.success == 1) {
						console.log($("#accept-modal").data("open"))
						if($("#accept-modal").data("open")=="yes"){
							// $(".SignarturePanelImage").remove()
							console.log();
							$(".signatureImageDiv img").remove();
							$(".signatureImageDiv").append(`<img class="SignarturePanelImage" src="<%= process.env.MEDIAURL %>/admin/signatures/`+response.img+`" alt="" srcset="">`);
							$(".nextAcceptedBtn").show();
							$('#changeSignatureCheckbox').prop('checked',false);
							document.getElementById("signatureDiv").innerHTML = 
							'<input type="hidden" name="adminSignature" value="/admin/signatures/' + response.img + '"><img  src="/admin/signatures/' + response.img + '" />';
							$("li.clearButton").click();
							// $("#signaturePanel").modal("hide")
							// // $("#accept-modal").modal("show")
							signatureExist = "true"
						}else{
							location.reload();
						}
					} else {
						console.log('error');
					}
				},
				error: function (response, xhr, error) {
					//location.reload(true);
				},
			});
		}
	});
	
	$(function () {
		'use strict';
		var url = window.location + '';
		var path = url.replace(
			window.location.protocol + '//' + window.location.host + '/',
			''
		);
		var element = $('ul#sidebarnav li a').filter(function () {
			return this.href === url; // || url.href.indexOf(this.href) === 0;
		});

		element.parentsUntil('.sidebar-nav').each(function (index) {
			if ($(this).is('li') && $(this).children('a').length !== 0) {
				$(this).children('a').addClass('active');
				$(this).parent('ul#sidebarnav').length === 0 ?
					$(this).addClass('active') :
					$(this).addClass('selected');
			} else if (!$(this).is('ul') && $(this).children('a').length === 0) {
				$(this).addClass('selected');
			} else if ($(this).is('ul')) {
				$(this).addClass('in');
				$(this).parent().addClass('menu-is-opening menu-open');
			}
		});
		element.addClass('active');

		$('ul#sidebarnav  li a').on('click', function (e) {
			if (!$(this).hasClass('active')) {
				// hide any open menus and remove all other classes
				$('ul', $(this).parents('ul:first')).removeClass('in');
				$('a', $(this).parents('ul:first')).removeClass('active');

				// open our new menu and add the open class
				$(this).next('ul').addClass('in');
				$(this).addClass('active');
			} else if ($(this).hasClass('active')) {
				$(this).removeClass('active');
				$(this).parents('ul:first').removeClass('active');
				$(this).next('ul').removeClass('in');
			}
		});
		$('#sidebarnav >li >a.has-arrow').on('click', function (e) {
			e.preventDefault();
		});
	});

	$(function () {
		$('#compose-textarea').summernote({
			height: 250,
		});
		// $('#compose-textarea-2').summernote();
		$('[data-toggle="tooltip"]').tooltip();
		$(document).on('click', '.rejected', function () {
			const id = $(this).attr('id');
			$('#reject-form').attr('action', 'application-reject/' + id);
			$('#reject-modal').modal('show');
		});

		
		
		
		$("#changeSignatureCheckbox").on("change", function () {
			if(this.checked) {
				$(".sigPad").show();
				$(".nextAcceptedBtn").hide();
			}else{
				$(".sigPad").hide();
				$(".nextAcceptedBtn").show();
			}
		});
		$(".nav-link[data-target='#signaturePanel']").on("click", function () {
			$("#accept-modal").data("open", "no")
			$(".changeSignatureCheckboxDiv").hide();
			$(".sigPad").show();
			$(".nextAcceptedBtn").hide();
		});
		$(document).on('click', '.draft', function () {
			const id = $(this).attr('id');
			if($("#accept-modal").data("status")=="active"){
				$(".acceptedBtn").removeAttr("disabled");
			}
			$('#draft-form').attr('action', 'application-draftemail/' + id);
			$('#draft-modal').modal('show');
		});

		$(document).on('click', '.status_change', function () {
			const id = $(this).attr('id');
			$('#status-change-form').attr('action', 'application-statuschange/' + id);
			$('#status-change-modal').modal('show');
		});

		$(".nextAcceptedBtn").click(function (e) { 
			e.preventDefault();
			// $("#signaturePanel").modal("hide")
			// $("#accept-modal").modal("show")
			// $('.acceptedBtn').prop('disabled', false);
			$('.acceptedBtn').click();
		});

		$("#changeSignatureLink").click(function (e) { 
			e.preventDefault();
			$("#accept-modal").modal("hide")
			$("#signaturePanel").modal("show")
			$("#accept-modal").attr("data-status", "pending")
		});

		$(".closeBtn").click(function (e) { 
			e.preventDefault();
			$('#changeSignatureCheckbox').prop('checked',false);
			$("li.clearButton").click();
		});
	});

</script>
